
:root {
    --shaddow:0 4px 6px -1px rgba(12, 12, 12, 0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  }

body{
    background-color: rgba(232,233,239,1);
    
}

body{
    background-color: rgb(216, 189, 148);
}

#logo{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;

}
.header h1{
    text-align: center;
}
.header p{
    text-align: center;
}

/*---lobby---*/
#form-container {
    width: 500px;
    box-shadow:var(--shaddow);
    background-color: rgb(9, 221, 175);
    padding-top: 30px;
    border-radius: 5px;
    position: fixed;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
}
/*----room---*/

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin:0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(19, 21, 21);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198, 202, 219,1);
    position: relative;
}

.video-play{
    height: 100%;
    width: 100%;
}

/* ------------------  Streams Page | Controls ------------------ */


/* #mic-btn{
height: 40px;
width: 40px;
}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
} */
/* .image-container img{
    width: 20px;
    height: 20px;
    border-radius: 5px;
} */
.image-container{
    display: flex;
}
.image-info{
    width: 50px !important;
    height: 60px !important;
}