{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/chat-icon.png' %}"/>
        
        <div id="welcome-message" class="header">
            <h1>Welcome to ADDA!</h1>
            <p>A group video calling platform made just for you!</p>
        </div>
    
        <form action="userinformation.php" method="post">
            <div class="fields">
                <div class="field name">
                    <input type="text" name="Name" placeholder="Enter Your Name" required>
                </div>
                <div class="field email">
                    <input type="email" name="Email" placeholder="Enter Your E-mail" required>
                </div>                           
            </div>
            <div class="field">
                <input type="text" name="password" placeholder="Enter password" required>
            </div> 
            <div class="button">
                <button type="submit">Enter Room</button>
            </div>
        </form>
    </section>

</main>


{% endblock content %}